img {
    border-radius: 3%;
    margin-top: 15px;
    margin-left: 25px;
}

body {
    background-color: black;
}

.container {
    background-color: white;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 0;
    margin: 0;
}

.text {
    text-align: center;
}

.para {
    text-align: center;
    opacity: 0.9;
    width: 250px;
    padding-left: 25px;
}